<a href="https://colab.research.google.com/github/alihu12345/Python-Summer-BootCamp/blob/main/Python_bootcamp_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data science Boot Camp
###Day 1
#####introduction

In [ ]:
print("Hello World")

Hello World

In [ ]:
print ("data science")

data science

In [5]:
if 10 > 8:
  print("Ten is greater than eight!")

Ten is greater than eight!

In [6]:
a=10
b=20
c=a+b
print(c)

30

In [7]:
a=10
b=20
d=b-a
print(d)

10

In [8]:
c=b/a
print(c)

2.0

In [9]:
c=a*b
print(c)

200

In [10]:
# This program adds two numbers

num1 = 1.5
num2 = 6.3

# Add two numbers
sum = num1 + num2
print(sum)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

7.8
The sum of 1.5 and 6.3 is 7.8

In [ ]:
# Store input numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

In [ ]:
# Python Program to calculate the square root
# Note: change this value for a different result
num = 9 

# To take the input from the user
#num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

In [12]:
b=18
h=6
A=0.5*18
print(A)
A1=A*h
print(A1)

9.0
54.0

In [10]:
b = input("base of a triangle")
print(b)

h = input("height of a triangle")
print(h)

areaTrinagle = 0.5 * float(b) * float(h)
print('The area of Triangle is %0.2f'%(areaTrinagle))

base of a triangle18
18
height of a triangle6
6
The area of Triangle is 54.00

In [15]:
r = input("raduis of a circle")

print(r)
pi =input("pi of a circle")
print(pi)
areacircle= float(pi)*float(r)**2
print('The areaofcircle of {0} and {1} is {2}'.format(r, pi, areacircle))

raduis of a circle9
9
pi of a circle3.14
3.14
The areaofcircle of 9 and 3.14 is 254.34

In [17]:
#calculating the circumference of a circle
r = input("raduis of a circle")
print(r)
pi = input("pi of a circle")
print(pi)
areacircumference = 2* float(pi) * float(r)
print('The areaofcircumference of {0} and {1} is {2}'.format(pi, r, areacircumference))

raduis of a circle7
7
pi of a circle3.14
3.14
The areaofcircumference of 3.14 and 7 is 43.96

In [ ]:
#calculating simple interest

In [19]:
import pandas as pd

data=pd.read_csv('/content/SuicidesIndia.csv')
data

                State  Year      Type_code  ...  Gender Age_group Total
0       A & N Islands  2001         Causes  ...  Female      0-14     0
1       A & N Islands  2001         Causes  ...  Female      0-14     0
2       A & N Islands  2001         Causes  ...  Female      0-14     0
3       A & N Islands  2001         Causes  ...  Female      0-14     0
4       A & N Islands  2001         Causes  ...  Female      0-14     0
...               ...   ...            ...  ...     ...       ...   ...
237514    West Bengal  2012  Social_Status  ...    Male    0-100+   149
237515    West Bengal  2012  Social_Status  ...    Male    0-100+   233
237516    West Bengal  2012  Social_Status  ...    Male    0-100+  5451
237517    West Bengal  2012  Social_Status  ...    Male    0-100+   189
237518    West Bengal  2012  Social_Status  ...    Male    0-100+  2658

[237519 rows x 7 columns]

In [5]:
area = 0.5* b*h
print(area)

TypeError: ignored